@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url("menu.css");
@import url("main.css");
@import url("footer.css");
@import url("pages.css");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --branco: #fff;
    --preto: #000;
    --cor-um: #E8F6EF;
    --cor-dois: #1B9C85;
}